* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #0a0f2c;
    position: relative;
}

.container svg {
    position: absolute;
    width: 100%;
    height: 100vh;
}